.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: #ff8800;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 150px;
    font-size: 2rem;
    font-family: 'Helvetica Neue'; 
}

.bottom-tag-html {
    margin-left: -40px;
}

/* for container / pages */
.container {
    width: 100%;
    top: 5%;
    margin: 0 auto;
    position: absolute;
    will-change: contents;
    height: 90%;
    min-height: 600px;
    z-index: 1;
    transform-style: preserve-3d;

    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}