.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        font-size: 4rem;
        color: #ff88ff;
        img {
            width: 30px;
        }
    }
    .indent-forward {
        margin-left: 5%;
    }
}