* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 60%;
    scroll-behavior: smooth;
}

body {

    display: block;
    overflow: hidden;

    /* font: font-weight font-size/line-height font, fallback-font; */
    font: 200 12px/1.4 'Helvetica Neue', Helvetica, Arial;

    color: #5ae6dc;
    background: #00072d;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}